In [1]:
import pandas as pd
import io
from io import BytesIO
from urllib.request import Request, urlopen
link = 'https://gitlab.com/uitgit/datasets/-/raw/master/auto_lab.csv'
url = Request(link, headers={'User-Agent': 'Mozilla/5.0'})
df = pd.read_csv(BytesIO(urlopen(url).read()))
df

     3    ?  alfa-romero     gas    std   two  ...     9  111  5000  21  27  13495
0    3    ?  alfa-romero     gas    std   two  ...   9.0  111  5000  21  27  16500
1    1    ?  alfa-romero     gas    std   two  ...   9.0  154  5000  19  26  16500
2    2  164         audi     gas    std  four  ...  10.0  102  5500  24  30  13950
3    2  164         audi     gas    std  four  ...   8.0  115  5500  18  22  17450
4    2    ?         audi     gas    std   two  ...   8.5  110  5500  19  25  15250
..  ..  ...          ...     ...    ...   ...  ...   ...  ...   ...  ..  ..    ...
199 -1   95        volvo     gas    std  four  ...   9.5  114  5400  23  28  16845
200 -1  NaN        volvo     gas  turbo  four  ...   8.7  160  5300  19  25  19045
201 -1   95        volvo     gas    std  four  ...   8.8  134  5500  18  23  21485
202 -1   95        volvo  diesel  turbo  four  ...  23.0  106  4800  26  27  22470
203 -1   95        volvo     gas  turbo  four  ...   9.5  114  5400  19  25  22625

[204 rows x 26 columns]

In [2]:
df.columns = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style", "drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight", "engine-type", "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

**Replace giá trị bị khuyết ?**

In [3]:
import numpy as np 
df = df.replace(['??','?','.','','_','NA','NULL','null','not','Not', 'Na'], np.nan)

In [4]:
df.isnull().sum()

symboling             0
normalized-losses    42
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            6
length                4
width                 1
height                0
curb-weight           3
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 6
dtype: int64

In [5]:
features = ['wheel-base', 'length', 'width', 'curb-weight', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price', 'normalized-losses']

In [6]:
from sklearn.impute import KNNImputer
for i in range(len(features)):
    imputer = KNNImputer(n_neighbors=5)
    imputer.fit_transform(df[features[i]].to_numpy().reshape(-1,1))
    df[features[i]] = imputer.transform(df[features[i]].to_numpy().reshape(-1,1))

In [7]:
df['num-of-doors'] = df['num-of-doors'].astype('string')
df['num-of-doors'].value_counts()

four    114
two      88
Name: num-of-doors, dtype: Int64

In [8]:
df['num-of-doors'].value_counts()

four    114
two      88
Name: num-of-doors, dtype: Int64

In [9]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
label_encoder = LabelEncoder()
df['num-of-doors'] = df['num-of-doors'].replace(np.nan, 'three')
df['num-of-doors'] = label_encoder.fit_transform(df['num-of-doors'])

In [10]:
imputer = KNNImputer(n_neighbors = 1, missing_values = 1)
df['num-of-doors'] = np.round(imputer.fit_transform((df['num-of-doors'].to_numpy().reshape(-1,1))))

In [ ]:
df['num-of-doors'].value_counts()