**STT: 45
<br /> Họ và tên: Võ Hoàng Thông
<br /> Lab 02**<bold>

**Câu 1. Tạo dataframe (df) biểu diễn bộ dữ liệu thô đã cung cấp. Sau đó tìm các insight cơ bản nhất của dataset.**

In [1]:
import pandas as pd
import io
from io import BytesIO
from urllib.request import Request, urlopen
link = 'https://gitlab.com/uitgit/datasets/-/raw/master/auto_lab.csv'
url = Request(link, headers={'User-Agent': 'Mozilla/5.0'})
df = pd.read_csv(BytesIO(urlopen(url).read()))
df

     3    ?  alfa-romero     gas    std   two  ...     9  111  5000  21  27  13495
0    3    ?  alfa-romero     gas    std   two  ...   9.0  111  5000  21  27  16500
1    1    ?  alfa-romero     gas    std   two  ...   9.0  154  5000  19  26  16500
2    2  164         audi     gas    std  four  ...  10.0  102  5500  24  30  13950
3    2  164         audi     gas    std  four  ...   8.0  115  5500  18  22  17450
4    2    ?         audi     gas    std   two  ...   8.5  110  5500  19  25  15250
..  ..  ...          ...     ...    ...   ...  ...   ...  ...   ...  ..  ..    ...
199 -1   95        volvo     gas    std  four  ...   9.5  114  5400  23  28  16845
200 -1  NaN        volvo     gas  turbo  four  ...   8.7  160  5300  19  25  19045
201 -1   95        volvo     gas    std  four  ...   8.8  134  5500  18  23  21485
202 -1   95        volvo  diesel  turbo  four  ...  23.0  106  4800  26  27  22470
203 -1   95        volvo     gas  turbo  four  ...   9.5  114  5400  19  25  22625

[204 rows x 26 columns]

In [2]:
df.describe()

                3        48.8         130           9          21          27
count  204.000000  204.000000  204.000000  204.000000  204.000000  204.000000
mean     0.823529   53.749020  126.892157   10.148137   25.240196   30.769608
std      1.239035    2.424901   41.744569    3.981000    6.551513    6.898337
min     -2.000000   47.800000   61.000000    7.000000   13.000000   16.000000
25%      0.000000   52.000000   97.000000    8.575000   19.000000   25.000000
50%      1.000000   54.100000  119.500000    9.000000   24.000000   30.000000
75%      2.000000   55.500000  142.000000    9.400000   30.000000   34.500000
max      3.000000   59.800000  326.000000   23.000000   49.000000   54.000000

**Câu 2. Tạo header cho các cột tương ứng với danh sách đặt tên như sau
[&quot;symboling&quot;, &quot;normalized-losses&quot;, &quot;make&quot;, &quot;fuel-type&quot;, &quot;aspiration&quot;, &quot;num-
of-doors&quot;, &quot;body-style&quot;, &quot;drive-wheels&quot;, &quot;engine-location&quot;, &quot;wheel-base&quot;,
&quot;length&quot;, &quot;width&quot;, &quot;height&quot;, &quot;curb-weight&quot;, &quot;engine-type&quot;, &quot;num-of-
cylinders&quot;, &quot;engine-size&quot;, &quot;fuel-system&quot;, &quot;bore&quot;, &quot;stroke&quot;, &quot;compression-
ratio&quot;, &quot;horsepower&quot;, &quot;peak-rpm&quot;, &quot;city-mpg&quot;, &quot;highway-mpg&quot;, &quot;price&quot;]. Sau
đó, xuất ra thông tin 9 sample đầu tiên, 6 sample cuối, và 8 sample bất kỳ.
Kết quả tổng hợp thành một df khác.**

In [3]:
df.columns = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style", "drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight", "engine-type", "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

In [4]:
df.head(9)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  16500
1          1                 ?  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2                 ?         audi  ...       19          25  15250
5          1               158         audi  ...       19          25  17710
6          1                 ?         audi  ...       19          25  18920
7          1               158         audi  ...       17          20  23875
8          0                 ?         audi  ...       16          22      ?

[9 rows x 26 columns]

In [5]:
df.tail(6)

     symboling normalized-losses   make  ... city-mpg highway-mpg  price
198         -1                74  volvo  ...       17          22  18950
199         -1                95  volvo  ...       23          28  16845
200         -1               NaN  volvo  ...       19          25  19045
201         -1                95  volvo  ...       18          23  21485
202         -1                95  volvo  ...       26          27  22470
203         -1                95  volvo  ...       19          25  22625

[6 rows x 26 columns]

In [6]:
df.sample(8)

     symboling normalized-losses        make  ... city-mpg highway-mpg  price
132          2               104        saab  ...       21          28  12170
56           3               150       mazda  ...       17          23  13645
32           1               101       honda  ...       30          34   6529
16           0                 ?         bmw  ...       15          20  36880
152          0                77      toyota  ...       31          37   6918
162          1               168      toyota  ...       29          34   8058
87          -1               137  mitsubishi  ...       23          30   9279
25           1                Na       dodge  ...       31          38   7609

[8 rows x 26 columns]

**Câu 3. Chuyển từ df (bộ dữ liệu) đang có sang kiểu mảng 2 chiều trong Numpy.**

In [7]:
df.to_numpy()

array([[3, '?', 'alfa-romero', ..., 21, 27, '16500'],
       [1, '?', 'alfa-romero', ..., 19, 26, '16500'],
       [2, '164', 'audi', ..., 24, 30, '13950'],
       ...,
       [-1, '95', 'volvo', ..., 18, 23, '21485'],
       [-1, '95', 'volvo', ..., 26, 27, '22470'],
       [-1, '95', 'volvo', ..., 19, 25, '22625']], dtype=object)

**Câu 4. Thống kê các feature bị khuyết giá trị.**

Các features có giá trị lớn hơn 0 là bị thiếu giá trị.

In [8]:
df.isnull().sum()

symboling            0
normalized-losses    1
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           3
length               1
width                0
height               0
curb-weight          2
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                2
dtype: int64

**Câu 5. Đánh giá xem dataset có bao nhiêu phần trăm sample bị khuyết giá trị.**

In [9]:
df.isnull().sum().sum() / df.shape[0] * 100

4.411764705882353

**Câu 6. Chuyển đổi “?”, hoặc “.”, hoặc “”, hoặc “_”, hoặc “Na”, hoặc “NULL”, hoặc “null”, hoặc “not”, hoặc “Not” sang NaN.**

In [10]:
import numpy as np 
df = df.replace(['??','?','.','','_','NA','NULL','null','not','Not', 'Na'], np.nan)

**Câu 7. Dùng phương pháp thay thế (replace) để xử lý các giá trị bị khuyết cho các
feature sau: &quot;normalized-losses&quot; (mean), &quot;stroke&quot; (choice), &quot;bore&quot; (mean),
&quot;horsepower&quot; (choice), &quot;peak-rpm&quot; (mean). Và, &quot;num-of-doors&quot; (giá trị
nhiều nhiều nhất)**

In [11]:
df['normalized-losses'] = df['normalized-losses'].replace(np.nan, df['normalized-losses'].dropna().astype(int).mean())
df['stroke'] = df['stroke'].replace(np.nan,df['stroke'].dropna().astype('float').mean())
df['bore'] = df['bore'].replace(np.nan,df['bore'].dropna().astype('float').mean())
df['horsepower'] = df['horsepower'].replace(np.nan,df['horsepower'].dropna().astype(int).mean())
df['peak-rpm'] = df['peak-rpm'].replace(np.nan,df['peak-rpm'].dropna().astype(int).mean())
df['num-of-doors'] = df['num-of-doors'].replace(np.nan, df['num-of-doors'].value_counts().idxmax())

**Câu 8. Dùng phương pháp loại bỏ (drop) cho các sample đối với các feature bị khuyết.**

In [12]:
df = df.dropna()

**Câu 9. Viết hàm kiểm tra xem một df có còn bị khuyết dữ liệu không? Nếu không khuyết trả về true, ngược lại false.**

In [13]:
not(df.isnull().sum().any())

True

**Câu 10. Kiểm tra kiểu dữ liệu của mỗi attribute trong df. Sau đó, chuyển về kiểu dữ liệu cho phù hợp.**

In [14]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base            object
length                object
width                 object
height               float64
curb-weight           object
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [15]:
df['normalized-losses'] = df['normalized-losses'].astype('float')
df['make'] = df['make'].astype('string')
df['fuel-type'] = df['fuel-type'].astype('string')
df['engine-location'] = df['engine-location'].astype('string')
df['wheel-base'] = df['wheel-base'].astype('float')
df['bore'] = df['bore'].astype('float')
df['aspiration'] = df['aspiration'].astype('string')
df['num-of-doors'] = df['num-of-doors'].astype('string')
df['body-style'] = df['body-style'].astype('string')
df['drive-wheels'] = df['drive-wheels'].astype('string')
df['stroke'] = df['stroke'].astype('float')
df['horsepower'] = df['horsepower'].astype('float')
df['peak-rpm'] = df['peak-rpm'].astype('float')
df['price'] = df['price'].astype('int')
df['length'] = df['length'].astype('float')
df['width'] = df['width'].astype('float')
df['curb-weight'] = df['curb-weight'].astype('int')
df['engine-type'] = df['engine-type'].astype('string')
df['num-of-cylinders'] = df['num-of-cylinders'].astype('string')
df['fuel-system'] = df['fuel-system'].astype('string')

**Câu 11. Chuẩn hóa &quot;length&quot;, &quot;width&quot; và &quot;height&quot; trong phạm vi [0,1].**

In [16]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
df['length'] = min_max_scaler.fit_transform(df['length'].values.reshape(-1,1))
df['width'] = min_max_scaler.fit_transform(df['width'].values.reshape(-1,1))
df['height'] = min_max_scaler.fit_transform(df['height'].values.reshape(-1,1))

**Câu 12: Tạo các bin là [&#39;Low&#39;, &#39;Medium&#39;, &#39;High&#39;] cho “horsepower”**<bold text>

In [17]:
bins = np.linspace(min(df['horsepower']),max(df['horsepower']),4)
df['horsepower'] = pd.cut(df['horsepower'], bins, labels=['Low', 'Medium', 'High'], include_lowest=True)

**Câu 13. Viết hàm lưu các df trong quá trình xử lý dữ liệu của các câu trên thành các tập tin sau “.csv”, hoặc “.json”, hoặc “excel”, hoặc “hdf”, hoặc “.sql”. Đặt tên file lưu trữ theo fomat sau: df_cau0x.&lt;kiểu file&gt;, với x là số thứ tự câu.**

In [18]:
df.to_csv('df_cau13.csv')